<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.length > 0; else emptyCart">
    <table mat-table [dataSource]="cart">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let dish">{{ dish.name }}</td>
        <td mat-footer-cell *matFooterCellDef>
          <span style="font-weight: bold">Total price:</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let dish">{{ dish.quantity }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let dish">{{ dish.price | currency }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let dish">
          {{ dish.quantity * dish.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalPrice(cart) | currency }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['name', 'quantity', 'price', 'total']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['name', 'quantity', 'price', 'total']"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="['name', 'quantity', 'price', 'total']"
      ></tr>
    </table>
  </ng-container>
</ng-container>

<ng-template #emptyCart>
  <mat-card>
    <p>Your cart is empty now.</p>
    <button mat-raised-button routerLink="/">Start shopping</button>
  </mat-card>
</ng-template>
