<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h2 class="mat-h2">Login</h2>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      placeholder="Enter your username"
    />
    <mat-error
      *ngIf="
        loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
      "
    >
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Enter your password"
    />
    <mat-error
      *ngIf="
        loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
      "
    >
      Password is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
